* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(3, 102, 16);
}

header{
    color: aliceblue;
    height: 5vh;
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    font-family: "Jaro";
}

.container {   
    display: flex;
    flex-wrap: wrap;
    height: 402px;
    width: 402px;
    margin: 115px auto 0px auto;
    
}
.box {
    border: 1px solid black;
    background-color: white;
    
}

#resetBtn {
    margin: 65px auto 0px auto;
    display: block;
    height: 30px;
    width: 90px;
    border-radius: 8px;
    font-family: "Jaro";
    font-size: 20px;
    
}
footer {
    font-size: large;
    color: aliceblue;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Jaro";

}